button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    font-weight: 300;
    font-size: 14px;
    font-weight: 300;
    padding: 0 25px;
    height: 50px;
    line-height: 50px;
    border: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    color: #fff;
    background-color: #ff5982;
    border: 1px solid #ff5982;
    cursor: pointer;

	&:hover {
		background: #ff5982d1;
	}

	&:active,
	&:focus {
		outline: none;
	}
}
